
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&family=Roboto:wght@900&display=swap');

:root { 
    --bg-card:#1A262C;
    --color-blue: rgb(65, 132, 177);
}
*{ 
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
body{ 
    margin: 0;
}

h1, h2, h3, p, ul, hr { 
    margin-top: 0;
    margin-bottom: 0;
}
ul{ 
    list-style: none;
    padding-left: 0;
}
input, button{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
}
img{ 
    display: block;
}